body {
    margin: 0;
    background-image: url("../img/screenshots/spawn-0.png");
}
#description {
    position: absolute;
    bottom: 10%;
    width: fit-content;
    min-width: 85%;
    max-width: 85%;
    color: #3d3d3d;
    font-size: 30px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: #578e7e;
    border-radius: 12px;
    background-color: rgba(245, 236, 213, 0.5);
    padding-left: 5px;
    padding-right: 5px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}
#arrow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 95%;
    position: absolute;
}
.arrow {
    color: white;
    font-size: 350%;
    font-family: "fa6s";
    cursor: default;
}