body {
    background-image: url("../img/screenshots/stefan-0.png");
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#title {
    font-size: 270px;
    font-family: "mc7";
    color: #578e7e;
}
#menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    background-color: rgba(255, 255, 255, 100);
    font-family: "Times New Roman", "fa6s", "fa6b";
}
.link {
    flex: 50%;
}
