body {
    background-image: url("../img/screenshots/spawn-1.png");
    background-repeat: no-repeat;
}
img {
    height: 48px;
    width: 48px;
}
h1 {
    font-size: 48px;
    flex: 50%;
}
#member-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    line-height: 0px;
}